<% layout('layouts/boilerplate') %>
    <h1>
        <%= campground.title %>
    </h1>
    <p>
        <%= campground.description %>
    </p>
    <p>
        <%= campground.price %>
    </p>
    <p>
        <%= campground.location %>
    </p>


    <footer>
        <a href="/campgrounds/<%= campground._id %>/edit">Edit <%= campground.title %></a>
        <div>
            <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                <button>Delete</button>
            </form>
        </div>
        <a href="/campgrounds">Back to All Campgrounds</a>
    </footer>
